venv
__pycache__
__pycache__/DataCleaner.cpython-311.pyc
__pycache__/DataCleaner.cpython-311.pyc
__pycache__/DataCleaner.cpython-311.pyc
__pycache__/FeatureExtractor.cpython-311.pyc
__pycache__/FeatureSelection.cpython-311.pyc
